<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="<%= author %>">

    <title>Fox Design Agency -
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/theme.css" />
</head>

<body>
    <nav class="header">
        <a class="header__brand" href="/">FoxDesignAgency</a>


            <ul class="header__navbar">
                <% pages.forEach(function(page){ %>

                    <% if (page.slug == "home"){ %>
                        <li>
                            <a class="" href="/">
                                <%= page.title.toLowerCase() %>
                            </a>
                        </li>
                        <% } else{ %>
                            <li>
                                <a class="" href="/<%= page.slug %>">
                                    <%= page.title.toLowerCase() %>
                                </a>
                            </li>
                            <% } %>
                                <% }) %>
                                <li>
                                <a class="open-modal">contact</a>
                                </li>

            </ul>
       
    </nav>

    <main role="main" class="container">